@font-face
  font-family: 'Adventor Bold'
  src: url(/fonts/adventor-bold.eot)
  src: url(/fonts/adventor-bold.eot?#iefix) format('embedded-opentype'), url(/fonts/adventor-bold.woff) format('woff'),url(/fonts/adventor-bold.ttf) format('truetype'),url(/fonts/adventor-bold.svg#texgyreadventorbold) format('svg')