.buttons 
  margin-top: 10px
  button
    margin-left: 10px
    margin-right: 10px
    cursor: pointer

.answer_button
.skip_button
.ask_button
  color: white
  width: 200px
  font-size: 32px
  border: none
  line-height: 46px
  font-family: inherit

.answer_button
.ask_button
  background: #1ABC9C
  border-color: #1ABC9C

  &:hover
    background: #48C9B0
    border-color: #48C9B0

.skip_button
  background: #E74C3C
  border-color: #E74C3C

  &:hover
    background: #EC7063
    border-color: #EC7063