@import 'nib'
@import 'vars'

*
  margin: 0
  padding: 0
  box-sizing: border-box


::-moz-selection
  background: #444
  color: #fff
  text-shadow: none


::selection
  background: #444
  color: #fff
  text-shadow: none

html
  font-size: 10px
  min-width: 300px
  background-color: $bgColor

body
  color: #333
  font-family: $adv
  margin: 0 auto
  text-rendering: optimizeLegibility
  font-smoothing: antialiased
  text-align: center
  overflow: hidden