@import 'nib'
@import 'vars'


.header
  height: 50px
  background: #16A085

  font-size: 48px
  line-height: 50px
  text-rendering: optimizeLegibility
  font-weight: bold
  color: white

  .circle
    position: absolute
    left: -50px
    top: -50px
    width: 200px
    height: 200px
    border-radius: 100px
    background: #16A085

  .callout
    float: left
    margin-left: 175px

  .title
    text-decoration: none
    position: absolute
    width: 100px
    height: 100px
    left: 50px
    top: 50px
    transform: rotate(-45deg)
    float: left

  .user
    margin-right: 25px
    float: right
    font-size: 18px

  a
    color: white